@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
}

html {
    min-height: 100%;
}

body {
    background-image: repeating-linear-gradient(0deg, rgba(166, 166, 166, 0.08) 0px, rgba(166, 166, 166, 0.08) 1px, transparent 1px, transparent 11px), repeating-linear-gradient(90deg, rgba(166, 166, 166, 0.08) 0px, rgba(166, 166, 166, 0.08) 1px, transparent 1px, transparent 11px), linear-gradient(90deg, #141414, #141414);
    color: white;
    font-size: 30pt;
}

a { 
    text-decoration: none;
    color: rgb(0, 146, 231);
}

.hello {
    margin: 40pt;
}

.regards {
    font-size: 70%;
}