@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: 30pt;
}

a { 
    text-decoration: none;
    color: rgb(0, 146, 231);
}

.hello {
    margin: 40pt;
}

.regards {
    font-size: 70%;
}