@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

$textColor: white;

.handwriting {
	font-family: 'Sacramento', cursive, 'Times New Roman';
}

body {
	color: $textColor;
	background-image: repeating-linear-gradient(0deg, rgba(146, 66, 66, 0.08) 0px, rgba(166, 166, 166, 0.08) 1px, transparent 1px, transparent 11px), repeating-linear-gradient(90deg, rgba(166, 166, 166, 0.08) 0px, rgba(166, 166, 166, 0.08) 1px, transparent 1px, transparent 11px), linear-gradient(90deg, #141414, #141414);
}

/* Bootstrap overrides */

.text-primary {
	color: #0b9cf1 !important;
}