$body-color: white;

$theme-colors: (
  "primary": #ffc107,
  "secondary": #c3c3c3
);

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands';

body {
	background-image: repeating-linear-gradient(0deg, rgba(146, 66, 66, 0.08) 0px, rgba(166, 166, 166, 0.08) 1px, transparent 1px, transparent 11px), repeating-linear-gradient(90deg, rgba(166, 166, 166, 0.08) 0px, rgba(166, 166, 166, 0.08) 1px, transparent 1px, transparent 11px), linear-gradient(90deg, #141414, #141414);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bitmoji {
	border-radius: 100%;
	max-width: 230px;
}

.fa-youtube {
	color: $red;
}

.fa-github,
.fa-envelope {
	color: $light;
}

.fa-linkedin {
	color: $blue;
}